* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#body {
    background-color: rgb(255, 255, 255);
}

header {
    height: 9vh;
    display: flex;
    justify-content: center;
    color: gray;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

header .navbar img {
    width: 60px;
}

header .nav-item {
    font-size: 20px;
}

#slider {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slider-content {
    width: 100%;
    height: 850px;
    display: inline-flex;
}

#slider .slider-content .slide-box {
    background-image: url(/imagens/top.jpeg);
    background-size: cover;
    height: 580px;
    width: 100%;
    background-repeat: no-repeat;
}

#slider .slider-content .slide-box .txt h1 {
    color: white;
    font-size: 30px;
    font-weight: 300;
    width: 60%;
}

#slider .slider-content .slide-box .txt img {
    width: 200px;
    margin-bottom: 30px;
}

#slider .slider-content .slide-box .container {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#slider .slider-content .slide-box .botao-top {
    background-color: rgba(255, 255, 255, 0.61);
    width: 50%;
    height: 40%;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#slider .slider-content .slide-box .botao-top h1 {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}


#slider .slider-content .slide-box .botao-top #op {
    border: none;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#slider .slider-content .slide-box .botao-top button {
    width: 60%;
    border: none;
    padding: 4px;
    margin: 2px;
    font-size: 0.9rem;
    background-color: rgba(0, 199, 0, 0.63);
    color: white;
}

.box-refe {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 100%;
    height: 150px;
    position: relative;
    top: -290px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-refe .container {
    width: 20vmin;
    height: 15vmin;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.box-refe .container i {
    color: rgb(0, 128, 0);
    font-size: 2.5em;
    padding: 10px;
}

.box-refe .container .num {
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-left: 10px;
    font-family: "Montserrat", sans-serif;
}

.box-refe .container h5 {
    padding-right: 10px;
    font-family: "Montserrat", sans-serif;
}

.box-refe .container .text {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
}

.flex-box {
    display: inline-flex;
    width: 100%;
}

#sec-sobre {
    height: 900px;
    margin-top: -450px;
}

#sec-sobre .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 150px;
    position: relative;
}

#sec-sobre .sobre-img {
    width: 30%;
    margin-top: 70px;
}

#txt-sobre {
    margin-top: 120px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

#sec-sobre #txt-sobre h1,
#projetos h1 {
    text-align: left;
    font-size: 45px;
    font-family: "Montserrat", sans-serif;
}

#txt-sobre p {
    font-size: 18px;
    text-align: justify;
}


#servicos {
    align-items: center;
    display: flex;
    justify-content: center;
}

#servicos .container {
    text-align: center;
}

#servicos .container .BOX-MASTER {
    display: inline-flex;
}

#servicos .box {
    margin: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    border-radius: 40px;
    background-color: rgb(241, 241, 241);
}

#servicos .box h1 {
    font-size: 14px;
    font-weight: 400;
    color: gray;
    padding: 10px;
    word-spacing: -1px;
}

#servicos .box p {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 600;
}

#servicos .box img {
    width: 100%;
    height: 250px;
    border-radius: 44px 44px 0px 0px;
    -webkit-border-radius: 44px 44px 0px 0px;
    -moz-border-radius: 44px 44px 0px 0px;
}

.sobre-projetos p {
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
}

#projetos .container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projetos .container .box {
    display: flex;
    margin-top: 50px;
}

#projetos .container .box-projetos {
    justify-content: center;
    align-items: center;
    display: flex;
}

#projetos .container .box-projetos img {
    width: 95%;
    border-radius: 3px;
    box-shadow: 0 10px 10px #0000009c;
}

.button-56 a {
    text-decoration: none;
    color: #111;
}

.button-56 {
    margin-top: 40px;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #cecece;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    height: 48px;
    font-weight: bold;
    justify-content: center;
    line-height: 24px;
    max-width: 10%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-56:after {
    background-color: #828282;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #7f7f7f;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

.contato {
    background-color: #f5f5f5;
    box-shadow: 0 20px 100px #00000061;
    margin-top: 50px;
}

.contato .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.redes img {
    width: 60px;
    padding-right: 10px;
}

.redes p {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
}

.redes a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-right: 30px;
}

.contato #p-cont {
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
}

.formulario {
    max-width: 400px;
    background: rgba(255, 255, 255, 0.35);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.175);
    box-shadow: 0 0 10px #08080861;
    border-radius: 20px;
    padding: 25px 35px;
    margin: 20px;
}

.formulario h6 {
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}

.formulario form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 7px;
}

form input,
form textarea {
    background-color: rgba(255, 255, 255, 0.377);
    width: 100%;
    margin-top: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgba(40, 40, 40, 0.389);
}

form button {
    background-image: linear-gradient(to right, rgb(35, 148, 0) 0%, #a10000 51%, rgb(44, 156, 0) 100%);
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 250% auto;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: 0 0 10px rgb(201, 201, 201);
    border-radius: 10px;
    display: block;
    border: none;
}

form button:hover {
    background-position: right center;
    text-decoration: none;
}

footer {
    height: 60px;
    background-color: rgb(241, 241, 241);
    box-shadow: 0 0px 10px #00000061;
}

footer img {
    width: 50px;
    text-align: center;
    float: right;
}

footer .container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 15px;
}

footer h1 {
    font-size: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    header .nav-item {
        font-size: 15px;
        color: rgb(0, 0, 0);
        width: 120px;
    }

    #navbarNav {
        position: absolute;
        width: 200px;
        height: 130px;
        top: 76px;
        left: -120px;
        background-color: rgb(255, 255, 255);
        align-items: center;
        text-align: left;
        padding: 10px;

    }

    .slide-box {
        width: 25%;
    }

    .slider-content {
        height: 500px;
    }

    .box-refe .container i {
        font-size: 25px;
    }

    .box-refe .container .num {
        font-size: 20px;
    }

    .box-refe .container .text {
        font-size: 15px;
    }

    #sec-sobre {
        height: 1600px;
    }

    #sec-sobre .container {
        flex-direction: column;
        margin-top: -200px;
        width: 80%;
    }

    #sec-sobre .container #txt-sobre {
        width: 100%;
    }

    #sec-sobre .container #txt-sobre h1 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 40px;
    }

    #sec-sobre .container .sobre-img {
        width: 80%;
        margin-bottom: 50px;
    }

    #projetos .sobre-projetos p {
        font-size: 18px;
    }

    #projetos .sobre-projetos h1 {
        font-size: 25px;
        text-align: center;
    }

    #projetos .container button {
        max-width: 50%;
    }

    .contato .container {
        display: flex;
        flex-direction: column;
    }

    .redes img {
        width: 40px;
    }

    .redes p {
        font-size: 25px;
    }

    #p-cont {
        display: none;
    }

    .formulario h6 {
        font-size: 15px;
    }

    #projetos #veja {
        font-size: 25px;
    }
}

@media screen and (max-width: 440px) {
    header {
        width: 100%;
        display: inline-flex;
        justify-content: end;
        align-items: center;
    }

    header .nav-item {
        font-size: 15px;
        color: rgb(0, 0, 0);
        width: 130px;
    }

    header .container .navbar-brand {
        position: relative;
        left: -220px;
        height: 40px;
    }

    #navbarNav {
        position: absolute;
        width: 140px;
        height: 130px;
        top: 59px;
        background-color: rgb(255, 255, 255);
        align-items: center;
        text-align: left;
        padding: 10px;
    }

    #slider .slider-content .slide-box {
        background-position: center;
        background-size: cover;
        height: 500px;
    }


    #slider .slider-content .slide-box .txt {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #slider .slider-content .slide-box .txt h1 {
        font-size: 18px;
        text-align: justify;
        width: 100%;
    }

    #slider .slider-content .slide-box .txt img {
        width: 100px;
        margin-bottom: 30px;
    }

    #slider .slider-content .slide-box .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #slider .slider-content .slide-box .botao-top {
        background-color: rgba(255, 255, 255, 0.61);
        width: 70%;
        height: 50%;
    }

    #slider .slider-content .slide-box .botao-top h1 {
        color: rgb(255, 255, 255);
        font-size: 1.1rem;
    }


    #slider .slider-content .slide-box .botao-top #op {
        padding: 5px;
        width: 160px;
    }

    #slider .slider-content .slide-box .botao-top button {
        width: 60%;
        padding: 5px;
        font-size: 0.8rem;
    }

    .box-refe {
        top: -350px;
        height: 100px;
    }

    .box-refe .container i {
        font-size: 15px;
    }

    .box-refe .container h5 {
        font-size: 8px;
    }

    .box-refe .container .num {
        font-size: 10px;
        padding-left: 0;
    }

    .box-refe .container .text {
        font-size: 8px;
    }

    #sec-sobre {
        height: 1600px;
    }

    #sec-sobre .container {
        flex-direction: column;
        width: 80%;
    }

    #sec-sobre .container #txt-sobre {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #sec-sobre .container #txt-sobre h1 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 40px;
    }

    #sec-sobre .container .sobre-img {
        width: 80%;
        margin-bottom: 50px;
    }

    #servicos {
        align-items: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }

    #servicos .container .BOX-MASTER {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #servicos .box {
        width: 100%;
    }

    #servicos .box h1 {
        font-size: 15px;
    }

    #projetos .sobre-projetos p {
        font-size: 18px;
    }

    #projetos .sobre-projetos h1 {
        font-size: 25px;
        text-align: center;
    }

    #projetos .container button {
        max-width: 50%;
    }

    .contato .container {
        display: flex;
        flex-direction: column;
    }

    .redes img {
        width: 30px;
    }

    .contato .redes a{
        font-size: 17px;
        text-align: center;
    }

    .contato .redes p{
        font-size: 20px;
        text-align: center;
    }

    #p-cont {
        display: none;
    }

    .formulario h6 {
        font-size: 15px;
    }

    #projetos #veja {
        font-size: 25px;
    }
}